dialog {
    padding: 32px;
    background-color: #a1fff9;
    top: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px 0px rgba(61, 61, 61, 0.75);
    border: 2px solid midnightblue;
    border-radius: 4px;
    gap: 24px;
}

button {
    background-color: lightskyblue;
    border: 1px solid midnightblue;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: dodgerblue;
    box-shadow: 1px 1px 1px 0px rgba(61, 61, 61, 0.75);
}

.modal-backdrop {
    height: 100%;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(5px);
}

.container {
    position: relative;
}

#dialog-header {
    margin: 0;
}

p {
    display: none;
    margin: 0;
    font-size: 20px;
}

#score {
    padding-left: 44px;
}

#time-box {
    display: none;
    position: absolute;
    right: 0;
    margin: 24px;
    font-size: 32px;
    color: white;
}
